<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="../style/main.css">
    <link rel="stylesheet" type="text/css" href="../style/upload.css">

    <script type="text/javascript" src="../js/upload.js"></script>
    
    <link rel="icon" href="" type="image/png" sizes="16x16">

    <title>Subir archivo</title>

</head>

<body>

    <script>
        function uploadContent() {
            console.log("Metodo upload");
    var formElement = document.getElementById("files");
    var formData = new FormData();
    formData.append("files", formElement.value);
    console.log("form element creado");
    var request = new XMLHttpRequest();
    console.log("request");
    request.open("POST", "http://localhost:8080/photo", false);
    request.send(formData);
    console.log(request.responseText)

}
    </script>
    <main class="main">
        <form id="uploadForm" action="" method="post" enctype="multipart/form-data" onsubmit="uploadContent()">
        <input id="files" type="file" />
        <input id="btnSubmit" type="submit" value="Aceptar">
        </form>
    </main>
</body>

</html>