<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="../style/main.css">
    <link rel="stylesheet" type="text/css" href="../style/upload.css">

    <script type="text/javascript" src="../js/upload.js"></script>

    <link rel="icon" href="" type="image/png" sizes="16x16">

    <title>Subir archivo</title>

</head>

<body>

    <main class="main">
        <form id="uploadForm" action="" method="post" enctype="multipart/form-data">
            <input id="files" type="file" name="files" webkitdirectory directory multiple/>
            <input id="btnSubmit" type="submit" value="Aceptar">
        </form>
    </main>

    <script>
        const $form = document.getElementById('uploadForm')
        $form.addEventListener('submit', () => {
            event.preventDefault()
            const formData = new FormData(event.currentTarget)
            fetch('http://localhost:8080/photo', {
                method: 'POST',
                body: formData,
            })
        })
    </script>
</body>

</html>